@define-color selected-text #D4F0DD;
@define-color text #D4DABA;
@define-color base #1c2d28;
@define-color border #5C8373;
@define-color border2 #80957B;
@define-color foreground #D4DABA;
@define-color background #1c2d28;

window * {
    all: unset;
    
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 18px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

window .box-wrapper {
    background: alpha(@base, 1);           /* dark transparency */
    border: 2px solid alpha(@border2, 0.65);    /* visible border */
    border-radius: 12px;
    padding: 4px;
    margin: 0;
    box-shadow: 0 2px 12px alpha(black, 0.25);
    backdrop-filter: blur(1px);
    line-height: 10%;
    color: @text;
}

window .search-container {
    border: 2px solid alpha(@border2, 0.4);    /* visible border */
    border-radius: 10px;
    padding: 6px 6px;
    margin: 0px;
    background: alpha(@border, 0.45);            /* slightly transparent */
        box-shadow:
        0 0 3px rgba(92, 131, 115, 0.4),
        0 0 3px rgba(92, 131, 115, 0.4);
    backdrop-filter: blur(1px);
    line-height: 1em;
    color: @selected-text;
}


window .input {
    background: transparent;
    color: @selected-text;
}

window .preview {
    border: 0px solid alpha(@border, 0.65);
    border-radius: 10px;
    background: alpha(@base, 0.5);
    color: @text;
    padding: 10px 10px 10px;
    margin: 10px 0px 10px;
    box-shadow: inset 0 0 8px alpha(white, 0);
    backdrop-filter: blur(8px);
    line-height: 1em;
}

child:selected {
    border: 2px solid alpha(@border2, 0.4);
    border-radius: 10px;
    background-color: mix(#6B8C78, @background, 0.85);
    transition: all 0.15s ease-out;
    transition: background-color 0s ease-out;
    box-shadow:
        0 0 3px rgba(92, 131, 115, 0.4),
        0 0 3px rgba(92, 131, 115, 0.4);
}
child:selected .item-box {
    
    margin-left: 0px;
    margin-top: 3px;
    
}

/* Revert Selected Item Color */
child:selected .item-box * {
    color: @selected-text;
}
