:root {
--color00: #1c2d28;
--color01: #1c2d28;
--color02: #1c2d28;
--color03: #94A88E;
--color04: #D4DABA;
--color05: #D4DABA;
--color06: #D4DABA;
--color07: #D4DABA;
--color08: #bf616a;
--color09: #A5B396;
--color0A: #A5B396;
--color0B: #6B8C78;
--color0C: #768A74;
--color0D: #5C8373;
--color0E: #b48ead;
--color0F: #bf616a;
}
